<div style="background-color: #212121; color: white; font-family: Charcoal, sans-serif; font-size: 1.5rem">
    <div style="margin: auto; border: 1px solid dimgray; border-radius: 8px; padding: 1rem; gap: 1rem;text-align: center;">
        <p syle="text-align: center;">
            Bienvenido a Chumbazo
        </p>
        <p style="margin-top: 1rem;text-align: center;">Para poder finalizar el proceso de inscripción por favor verifique su correo</p>
        <a href="{{link}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; text-emphasis: none;text-align: center">
            <button style="display: flex; display:-webkit-flex; display:-ms-flexbox; justify-content: center; align-items: center; cursor: pointer; border: none; background-image: linear-gradient(45deg, darkorange 0%, tomato 15%, darkorange 100%); padding: 15px 30px; text-align: center; font-weight: 600; border-radius: 10px; margin-top: 1rem; margin-left: 35%; color: white;">
                Verificar
            </button>
        </a>
    </div>
</div>